.btn-action {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 5px;
  top: 5px;
  color: white;
  cursor: pointer;
  z-index: 100;
}

.btn-action:hover {
  /* opacity: 0.75; */
  background: white !important;
  color: black;
}

.btn-action.disabled {
  opacity: 0.4;
  cursor: default;
  background: black !important;
}

.btn-action.disabled:hover {
  background: inherit;
  color: inherit;
}

.action-icon {
  position: absolute;
  text-align: center;
  font-size: 25px;
  height: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

#cancel-action {
  background: red;
}

#save-action {
  right: 80px;
  background: #77f;
}
