.btn-action {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 5px;
  color: white;
  cursor: pointer;
  z-index: 100;
}

.btn-action:hover {
  opacity: 0.75;
}

.btn-action.disabled {
  opacity: 0.5;
  cursor: default;
}

.action-icon {
  position: absolute;
  text-align: center;
  font-size: 25px;
  height: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

#clear-action {
  top: 80px;
  background: red;
}

#share-action {
  top: 155px;
  background: #5b5;
}

#copy-magnet-action {
  top: 230px;
  background: #77f;
}

.webtorrent-icon {
  background-image: url('webtorrent-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  height: 80%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
